.profileimage{
    width: 30px;
    height: 30px;
}

.mainbox{
    color: white;
    background: #2d3838;
    height: 100vh;
  

    padding: 15px;
    width: 5%;
    display: block;
    transform: translateX(-5%);
   transition: transform .30s ease-out;


}

.mainsidebaropen{
     color: white;
     background: #2d3838;
     
     padding: 15px;
     position: relative;
     animation-name: slide;
     transform: translateX(0);
  transition: transform .50s linear;

   
}
@keyframes slide {
    100% {
      left: 0;
      transition: transform .5s linear; 
    transform: translateX(0); 
    background-color: aqua;

    }
  }

@keyframes mymove {
    from {left: 0px;}
    to {left: 50px;}
  }

.profilebox{
    align-items: center;
    display: flex;
    gap: 10px;

    padding-bottom: 10px;
    padding-top: 10px;
    justify-content: flex-start;
    border-bottom: 1px solid;
    border-top: 1px solid;
}

.sidepanelmaincontentbox{
    padding-top: 25px;
    /* align-items: flex-start; */
    flex-direction: column;
    display: flex;
}
.admintext{
    text-align: left;
    color: darkgray;
    font-size: 12px;
    margin: 0;
}
.userbox{
    flex-direction: column;
    display: flex;
 
}
.contentitem{
    padding-bottom: 10px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    gap: 10px;
    width: 100%;
    /* border-bottom: 2px solid; */
    padding-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;

}
.opencontentitem{
    padding-bottom: 10px;
    /* display: flex; */
    justify-content:flex-start;
    align-items: center;
    gap: 10px;
    width: 100%;
    /* border-bottom: 2px solid; */
    padding-top: 10px;
    margin-bottom: 10px;
}

.contentitemlabel{
    font-size: 12px;
    font-weight: 600;
    text-align: left;
}
.username{
   margin: 0;
 font-size: 12px;
}

.labelname{
 display: none; 
}

.fonticonbox{
    /* background-color:#ffc107; */
    /* border-radius: 50px; */
    align-items: center;
    justify-content: center;
    display: flex;
    /* padding: 5px; */
    /* width: 20px;
    height: 20px; */
}

.logobox{
    width: 80px;
    height: 80px;
}

.fonticon{
    font-size: 16px;
}

.contentitem:hover{
    /* padding: 10px;
    border-radius: 5px 15px 15px 5px; */
    color: white;
    background:#5f9ea0;
    border-radius: 5px;
}

/* ************current page ********************** */

.main_Notificationbox{
  
    /* width: 100%; */
    color: white;
    padding-right: 20px;
    padding-left: 20px;
    background: #2d3838;
    padding-top: 10px;
    padding-bottom: 10px;
}

.notificationbox{
    display: flex;
    flex-direction: row;
    gap:5px;
}

.main_notificationContent{
    display: flex;
    justify-content: flex-end;
    gap:20px;
}

.mainBoxlogo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;



}

.mainBoxlogoclose{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.sidebarBox{
    display: flex;

}